.movies-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 767px) {
  .movies-card {
    gap: 40px;
  }
}

.movies-card__item {
  position: relative;
  list-style-type: none;
  min-height: 232px;
  max-width: 320px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .movies-card__item {
    min-width: 708px;
    min-height: 134px;
  }
}

@media screen and (min-width: 1279px) {
  .movies-card__item {
    min-width: 1140px;
  }
}

@media screen and (min-width: 767px) {
  .movies-card__item {
    min-height: 134px;
  }
}

.movies-card__image {
  width: 300px;
  height: 168px;
}

@media screen and (min-width: 767px) {
  .movies-card__image {
    width: 220px;
    height: 122px;
    position: absolute;
    top: 6px;
    right: 7px;
  }
}

.movies-card__title {
  position: absolute;
  bottom: 35px;
  left: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

@media screen and (min-width: 767px) {
  .movies-card__title {
    bottom: 89px;
    left: 22px;
    font-size: 18px;
    line-height: 22px;
  }
}

.movies-card__subtitle {
  position: absolute;
  bottom: 13px;
  left: 12px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
}

@media screen and (min-width: 767px) {
  .movies-card__subtitle {
    bottom: 63px;
    left: 22px;
  }
}

.movies-card__like-button {
  position: absolute;
  bottom: 36px;
  right: 16px;
  background-color: #f9f9f9;
  width: 14px;
  min-height: 12px;
  border: none;
  outline: none;
  background-image: url(../../images/like-deactive.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 767px) {
  .movies-card__like-button {
    bottom: 22px;
    left: 22px;
  }
}

.movies-card__like-active {
  background-image: url(../../images/like-active.svg);
}

