.burger-button {
    width: 38px;
    min-height: 38px;
    background-image: url(../../images/burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    place-self: center end;
}

.burgen-button__hidden {
    display: none;
}