.body {
  background: #5C5C5C;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

@media screen and (min-width: 768px) {
  .page {
    min-width: 768px;
  }
}

.title {
  margin: 0;
  padding: 0;
  color: #fff;
}

.subtitle {
  margin: 0;
  padding: 0;
  color: #fff;
}