.movies-card__list {
  padding: 0;
  margin: 0;
  min-height: 1311px;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .movies-card__list {
    min-height: 1258px;
    padding: 60px 0 0;
  }
}

@media screen and (min-width: 1279px) {
    .movies-card__list {
      min-height: 1239px;
      padding: 70px 0 0;
    }
  }
