.portfolio {
  min-height: 295px;
  width: 292px;
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .portfolio {
    min-height: 390px;
    width: 668px;
  }
}

@media screen and (min-width: 1279px) {
  .portfolio {
    min-height: 425px;
    width: 1140px;
  }
}

.portfolio__main-title {
  margin: 0 0 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
}

@media screen and (min-width: 767px) {
  .portfolio__main-title {
    font-size: 18px;
    margin: 0 0 40px;
  }
}

.portfolio__subtitle {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 767px) {
  .portfolio__subtitle {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (min-width: 1279px) {
  .portfolio__subtitle {
    font-size: 30px;
  }
}

.portfolio__undertitle-line {
  border-top: 2px solid #e6e6e6;
  margin: 9px 0 8px;
}

@media screen and (min-width: 767px) {
  .portfolio__undertitle-line {
    margin: 9px 0 9px;
  }
}

.portfolio__text-wrapper {
  width: 292px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .portfolio__text-wrapper {
    min-height: 70px;
    width: 668px;
  }
}

@media screen and (min-width: 1279px) {
  .portfolio__text-wrapper {
    width: 1140px;
  }
}

.strelka {
  width: 16px;
  height: 12px;
  background-image: url(../../../images/strelka.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (min-width: 767px) {
  .strelka {
    width: 21px;
    height: 17px;
  }
}

@media screen and (min-width: 1279px) {
  .strelka {
    width: 24px;
    height: 18px;
  }
}
