.header {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.header__color_grey {
  background-color: #5C5C5C;
}

.header__logo {
  width: 38px;
  min-height: 38px;
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.page__header {
  padding: 18px 14px;
}

@media screen and (min-width: 767px) {
  .page__header {
    padding: 18px 30px;
  }
}

@media screen and (min-width: 1279px) {
  .page__header {
    padding: 18px 70px;
  }
}

.header__sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 767px) {
  .header__sidebar {
    gap: 30px;
  }
}

.header__subtitle-signup {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 767px) {
  .header__subtitle-signup {
    font-size: 12px;
  }
}

.header__subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 767px) {
  .header__subtitle {
    font-size: 12px;
  }
}

.header__subtitle-font_weight {
  font-weight: 500;
}

.header__button-login {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
  width: 54px;
  min-height: 25px;
  border: none;
  background-color: #2be080;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 767px) {
  .header__button-login {
    font-size: 12px;
    width: 76px;
    min-height: 28px;
  }
}

.header__account-wrapper {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.header__button-account {
  outline: none;
  border: none;
  background-color: transparent;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__icon-account {
  border: none;
  outline: none;
  background-color: #fff;
  width: 27px;
  min-height: 30px;
  background-image: url(../../images/account.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 4px;
}

@media screen and (min-width: 767px) {
  .header__button-account {
  }
}
