.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.header__logo {
  width: 38px;
  min-height: 38px;
  background-image: url(../../images/logo.svg);
  background-size: cover;
  cursor: pointer;
}

.page__header {
  padding: 18px 14px;
}

@media screen and (min-width: 767px) {
  .page__header {
    padding: 18px 30px;
  }
}

@media screen and (min-width: 1279px) {
  .page__header {
    padding: 18px 70px;
  }
}

.header__sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 767px) {
  .header__sidebar {
    gap: 30px;
  }
}

.header__button {
  width: 54px;
  min-height: 26px;
  background-color: #2be080;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .header__button {
    width: 76px;
    min-height: 32px;
  }
}

.header__subtitle {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .header__subtitle {
    font-size: 12px;
  }
}

.header__subtitle_black {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
  margin: 5px 0;
}

@media screen and (min-width: 767px) {
  .header__subtitle_black {
    font-size: 12px;
    margin: 8px 0;
  }
}
