.register {
  min-height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .register {
    min-height: 1024px;
  }
}

@media screen and (min-width: 1279px) {
  .register {
    min-height: 700px;
  }
}

.register__logo {
  width: 38px;
  min-height: 38px;
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 55px 0 0;
}

@media screen and (min-width: 767px) {
  .register__logo {
    margin: 232px 0 0;
  }
}

@media screen and (min-width: 1279px) {
  .register__logo {
    margin: 69px 0 0;
  }
}

.register__head-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .register__head-wrapper {
    display: flex;
    align-items: flex-start;
    width: 396px;
  }
}

.register__title {
  margin: 51px 0 80px;
  color: #000;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (min-width: 767px) {
  .register__title {
    margin: 39px 0 41px;
  }
}

@media screen and (min-width: 1279px) {
  .register__title {
    margin: 41px 0 40px;
  }
}

.register__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0 0 26px;
}

.register-subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.register__input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 260px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 0 10px;
}

.register__input-password {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 7px;
  line-height: 17px;
  width: 260px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 0 10px;
}

@media screen and (min-width: 767px) {
  .register__input-password {
    width: 396px;
  }
}

@media screen and (min-width: 767px) {
  .register__input {
    width: 396px;
  }
}

.register__button-wrapper {
  margin: 14px 0 0;
  display: flex;
  justify-content: center;
  gap: 7px;
}

@media screen and (min-width: 767px) {
  .register__button-wrapper {
    margin: 15px 0 0;
    gap: 6px;
  }
}

@media screen and (min-width: 1279px) {
  .register__button-wrapper {
    margin: 15px 0 0;
  }
}

.register__button {
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  width: 260px;
  min-height: 45px;
  border-radius: 3px;
  background: #2be080;
  margin: 212px 0 0;
}

@media screen and (min-width: 767px) {
  .register__button {
    margin: 124px 0 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 396px;
  }
}

.register-button-color-green {
  color: #2be080;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (min-width: 767px) {
  .register-button-color-green {
    font-size: 14px;
    line-height: 17px;
  }
}

.register-subtitle-answer {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (min-width: 767px) {
  .register-subtitle-answer {
    font-size: 14px;
    line-height: 17px;
  }
}

.register-subtitle-color-grey {
  color: #a0a0a0;
}
