.search-form {
  min-height: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1279px) {
  .search-form {
    min-height: 222px;
  }
}

.search-form__wrapper {
  display: grid;
  grid-template-columns: 62px 837px 29px 66px 116px;
  grid-template-rows: 1fr;
  grid-template-areas: "loupe form-input line checkbox text";
  margin: 70px 0 0;
  width: 1140px;
  min-height: 72px;
  background: #fdfdfd;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.search-form__loupe-img {
  place-self: center;
  grid-area: loupe;
  margin: 0 0 0 10px;
  width: 22px;
  height: 22px;
  background-image: url(../../../images/loupe.svg);
  background-size: cover;
}

.search-form__form {
  display: flex;

}

.search-form__subtitle {
  place-self: center;
  grid-area: text;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.search-form__input {
  width: 831px;
  place-self: center;
  grid-area: form-input;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  border: none;
  outline: none; 
  background-color: #FDFDFD;
}
.search-form__submit-button {
  border: none;
  outline: none;
  background-color: #fdfdfd;
}

.search-from__submit-img {
  width: 34px;
  min-height: 34px;
  background-image: url(../../../images/submit.svg);
  background-size: cover;
  cursor: pointer;
}

.vertical-line {
  place-self: center;
  grid-area: line;
  width: 1px;
  height: 40px;
  background: #cbcbcb;
}

.search-from__checkbox-wrapper {
  place-self: center;
  grid-area: checkbox;
}

.underform-line {
  width: 1140px;
  border-top: 2px solid #E8E8E8;
  margin: 69px 0 0;
}