.aboutme {
  min-height: 1198px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .aboutme {
    min-height: 994px;
  }
}

@media screen and (min-width: 1279px) {
  .aboutme {
    min-height: 1079px;
  }
}

.img_student {
  margin: 59px 0 0;
  width: 292px;
  min-height: 352px;
  background-image: url(../../../images/YourOpponentIsAStudent.jpg);
  background-size: cover;
  cursor: pointer;
  border-radius: 10px;
}

@media screen and (min-width: 767px) {
  .img_student {
    margin: 0;
    grid-area: img;
    width: 255px;
    min-height: 307px;
  }
}

@media screen and (min-width: 1279px) {
  .img_student {
    width: 270px;
    min-height: 327px;
  }
}

.aboutme__title {
  margin: 20px 0 2px;
  color: #000;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 767px) {
  .aboutme__title {
    margin: 0;
    grid-area: title;
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1279px) {
  .aboutme__title {
    font-size: 50px;
    line-height: 58px;
  }
}

.aboutme__subtitle {
  color: #000;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}

@media screen and (min-width: 767px) {
  .aboutme__subtitle {
    grid-area: subtitle;
    font-size: 12px;
    line-height: 18px;
  }
  .aboutme__subtitle:last-child {
    grid-area: subtitle-2;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1279px) {
  .aboutme__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
  .aboutme__subtitle:last-child {
    font-size: 14px;
    line-height: 22px;
  }
}

.aboutme__text-wrapper {
  width: 292px;
  margin: 0 0 103px;
  min-height: 204px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 767px) {
  .aboutme__text-wrapper {
    margin: 65px 0 0;
    width: 668px;
    gap: 0;
    column-gap: 49px;
    display: grid;
    grid-template-columns: 364px 255px;
    grid-template-rows: 56px 38px 195px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "subtitle-2 img";
  }
}

@media screen and (min-width: 1279px) {
  .aboutme__text-wrapper {
    width: 1140px;
    column-gap: 270px;
    grid-template-columns: 600px 270px;
    grid-template-rows: 75px 45px 188px;
  }
}

.aboutme__subtitle-url {
  width: 292px;
  text-align: start;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: none;
}

@media screen and (min-width: 767px) {
  .aboutme__subtitle-url {
    width: 668px;
  }
}

@media screen and (min-width: 1279px) {
  .aboutme__subtitle-url {
    width: 1140px;
  }
}
